  <nb-card style="width:200px">
      <nb-card-body >
        <div class="form-group" style="width:200px">
          <label>Select Degree Category </label>
          <select class="form-control">
            <option style="display:non">Degree Category</option>
              <option *ngFor="let item of DegreeCategoryList" [value]="item.id" >
                  <span>{{item.DegreeCategoryName}}</span>
              </option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>

<nb-card>
  <nb-card-header>
    Degree Type
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" [source]="Csource" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>