<div class="card-box">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4 class="m-t-0 header-title"><b>Teacher Note</b></h4>
                        </div>
                    </div>
</div>
<nb-card-body>
    <div class="row show-grid">
      <div class="col-md-3">
        <label for="userName">Batch
          <span class="text-danger">*</span>
        </label>
        <div style="width:240px;left: 0px;">
          <select class="form-control">
            <option>Please select the batch</option>
            <option [value]="batch.id" *ngFor="let batch of batchList">{{batch.BatchName}}</option>
          </select>
        </div>
      </div>      
      <div class="col-md-3" style="margin-left: 1%;">
        <label for="userName">Program Study
          <span class="text-danger">*</span>
        </label>
        <div style="width:240px;">
          <select class="form-control">
            <option>Please select the Program Study</option>
            <option [value]="programstudy.ProgramStudyId" *ngFor="let programstudy of ProgramStudyList">{{programstudy.ProgramStudyName}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" style="margin-left: 1%;">
        <label for="userName">Semester
          <span class="text-danger">*</span>
        </label>
        <div style="width:240px;">
          <select class="form-control">
            <option>Please select the Semester</option>
            <option [value]="semester.id" *ngFor="let semester of semisterList">{{semester.CourseName}}</option>
          </select>
        </div>
      </div>
      <div class="shape-container" class="col-md-3" style="width:75px;margin-right: -24px;margin-left: 900px;margin-top: -45px;">
          <div >
            <button class="btn btn-success btn-semi-round btn-demo">SHOW Teacher Note</button>
          </div>
      </div>
      <div class="shape-container" style="width:250px;margin-top: 25px;margin-left: 80px;">
          <div style="margin-top: 1%;">
            <button class="btn btn-success btn-semi-round btn-demo">ADD Teacher Note</button>
          </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source.data" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
