<div class="card-box">
  <div class="row">
    <div class="col-lg-4">
      <h4 class="m-t-0 header-title"><b>Manage Course</b></h4>
    </div>
  </div>
</div>
<nb-card-body>
  <div class="row show-grid">
    <div class="col-md-3">
      <label for="userName">Faculty/Department*
        <span class="text-danger">*</span>
      </label>
      <div style="width:240px;left: 60px;">
        <select class="form-control">
          <option>Please select Faculty/Department</option>
          <option [value]="batch.id" *ngFor="let batch of batchList">{{batch.BatchName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" style="margin-left: 1%;">
      <label for="userName">Program Study
        <span class="text-danger">*</span>
      </label>
      <div style="width:240px;">
        <select class="form-control">
          <option>Please select the Program Study</option>
          <option [value]="programstudy.ProgramStudyId" *ngFor="let programstudy of ProgramStudyList">{{programstudy.ProgramStudyName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" style="margin-left: 1%;">
      <label for="userName">Semester
        <span class="text-danger">*</span>
      </label>
      <div style="width:250px;margin-left: 1%">
        <select class="form-control">
          <option>Please select the Semester</option>
          <option [value]="semester.id" *ngFor="let semester of semisterList">{{semester.CourseName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <label for="userName">Course
        <span class="text-danger">*</span>
      </label>
      <div style="width:250px; margin-left:1%">
        <select class="form-control">
          <option>Please select the Course</option>
          <option [value]="semester.id" *ngFor="let semester of semisterList">{{semester.CourseName}}</option>
        </select>
      </div>
    </div>
    <div class="shape-container" class="col-md-2" style="width:250px;margin-top: 25px;margin-left: 4%;">
      <div style="margin-left: 50%;margin-top: 1%;">
        <button class="btn btn-success btn-semi-round btn-demo">Go</button>
      </div>
    </div>
  </div>
  <br>
  <nb-card>
    <nb-card-header>
      Add Teaching Type
      <div class="row show-grid">
        <div class="col-lg-4 pull-right">
          <div class="shape-container" style="width:250px;margin-top: 25px">
            <div style="margin-left: 322%;margin-top: -17%;">
              <button class="btn btn-primary btn-semi-round btn-demo">Add Teaching Type</button>
            </div>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source.data" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>
      Assigned Chapters
      <div class="row show-grid">
        <div class="col-lg-4 pull-right">
          <div class="shape-container" style="width:430px;margin-top: 55px">
            <div style="margin-left: 180%;margin-top: -18%;">
              <button class="btn btn-hero-info btn-demo">Assign Chapters</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pull-right">
          <div class="shape-container" style="width:250px;margin-top: 25px">
            <div style="margin-left:245%;margin-top: -18%;">
              <button type="button" class="btn btn-outline-danger btn-icon">
                <i class="nb-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="chaptersettings" [source]="_source.data" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>