<nb-card>
  <nb-card-header>
    Add Driver Master
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="col-lg-12">
      <div class="row full-name-inputs">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Fee_code">Student ID<span class="text-danger">*</span></label><br />
            <select class="form-control" style="height: 48px;">
              <option display:none> -- -- Select Student Name -- -- </option>
              <option>Anil</option>
              <option>Nagarjuna</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="Fee_code">Select Route<span class="text-danger">*</span></label><br />
            <select class="form-control" style="height: 48px;">
              <option display:none> -- -- Select Route Id -- -- </option>
              <option>ITPL-BTM</option>
              <option>BTM-Marathalli</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="row full-name-inputs">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Fee_code">Drop/PickUp Point<span class="text-danger">*</span></label><br />
            <select class="form-control" style="height: 48px;">
              <option display:none> -- -- Select Stop -- -- </option>
              <option>Marathalli-E-City</option>
              <option>BTM-ITPL</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="Fee_code">From Month<span class="text-danger">*</span></label><br>
            <select class="form-control" style="height: 48px;">
            <option display:none> -- -- Select From Month -- -- </option>
          </select>
          </div>
        </div>
      </div>
      <br />
      <div class="row full-name-inputs">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Fee_name" class="ng-binding">To Month<span class="text-danger">*</span></label>
            <select class="form-control" style="height: 48px;">
            <option display:none> -- -- Select To Month -- -- </option>
          </select>
          </div>
        </div>
      </div>
    </div>
    <nb-card-footer>

      <div>
        <button (click)="closeModal()" style="right: 0px;" class="btn btn-danger btn-rectangle btn-demo float-right">CLOSE</button>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" class="btn btn-success float-right" style="right: 0px;">ADD DETAILS</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card-body>
</nb-card>

<!-- <div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="datepicker-container">
        model value: {{ date }}
      </div>
    </div>
    <div class="column is-6 is-offset-3">
      <div class="datepicker-container">
        <ng-datepicker [(ngModel)]="date" [options]="options"></ng-datepicker>
      </div>
    </div>
  </div>
</div> -->