<nb-card>
  <nb-card-header>
    Admission Fees Status
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-md-4">
        <label for="userName">Batch <span class="text-danger">*</span></label>
        <div style="width:200px;left: 60px;">
          <select class="form-control">  
          <option >Please Select The Batch</option> 
        <option [value]="batch.id" *ngFor="let batch of batchList">{{batch.BatchName}}</option>  
      </select>
        </div>
      </div>
      <div class="col-md-4">
        <label for="userName">Course <span class="text-danger">*</span></label>
        <div style="width:200px;left: 60px;">
          <select class="form-control">  
          <option >Please Select The Course</option> 
          <option [value]="course.id" *ngFor="let course of courseList">{{course.CourseName}}</option>  
        </select>
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-secondary btn-demo" click="getAdmissionFeeStatus()">Show Details</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>