<nb-card-body>
  <div  style="width:200px;left: 60px;">          
      <select class="form-control">  
          <option >EEE</option> 
        <option [value]="branch.BranchId" *ngFor="let branch of branchList">{{branch.BranchName}}</option>  
      </select> 
    </div>
  </nb-card-body>
<nb-card>
  <nb-card-header>
    Batch table
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source.data" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

