<div class="card-box">
  <div class="row">
    <div class="col-lg-4">
      <h4 class="m-t-0 header-title"><b>Manage Program Study</b></h4>
    </div>
  </div>
</div>
<nb-card-body>
  <div class="row show-grid">
    <div class="col-md-4">
      <label for="userName">Batch
        <span class="text-danger">*</span>
      </label>
      <div style="width:250px;left: 60px;">
        <select class="form-control">
          <option>Please select the batch</option>
          <option [value]="batch.id" *ngFor="let batch of batchList">{{batch.BatchName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4" style="margin-left: -5%;">
      <label for="userName">Program
        <span class="text-danger">*</span>
      </label>
      <div style="width:250px;">
        <select class="form-control">
          <option>Please select the Program</option>
          <option [value]="course.id" *ngFor="let course of courseList">{{course.CourseName}}</option>
        </select>
      </div>
    </div>
    <div class="shape-container" class="col-md-2" style="width:250px;margin-top: 25px;margin-left: -4%;">
      <div style="margin-left: -30%;margin-top: 1%;">
        <button class="btn btn-success btn-semi-round btn-demo">Go</button>
      </div>
    </div>
    <div class="shape-container" class="col-md-2" style="width:250px;margin-left: 57%;">
      <div style="margin-left: 140%;margin-top: -29%;">
        <button class="btn btn-primary btn-semi-round btn-demo">ADD New Program Study</button>
      </div>
    </div>
  </div>
</nb-card-body>
<nb-card>
  <nb-card-header>
    Assigned Semester
    <div class="row show-grid">
      <div class="col-lg-4 pull-right">
        <div class="shape-container" style="width:250px;margin-top: 25px">
          <div style="margin-left: 310%;margin-top: -18%;">
            <button class="btn btn-hero-info btn-demo">Assign Semester</button>
          </div> 
        </div>
      </div>
      <div class="col-lg-4 pull-right">
        <div class="shape-container" style="width:250px;margin-top: 25px">
          <div style="margin-left:245%;margin-top: -18%;">
            <button type="button" class="btn btn-outline-danger btn-icon">
              <i class="nb-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="_source.data" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    Assign Fees
    <div class="row show-grid">
      <div class="col-lg-4 pull-right">
        <div class="shape-container" style="width:405px;margin-top: 55px">
          <div style="margin-left: 200%;margin-top: -18%;">
            <button class="btn btn-hero-info btn-demo ">Assign Fees</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 pull-right">
        <div class="shape-container" style="width:250px;margin-top: 25px">
          <div style="margin-left:245%;margin-top: -18%;">
            <button type="button" class="btn btn-outline-danger btn-icon">
              <i class="nb-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="feessettings" [source]="source.data" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>