<nb-card>
  <nb-card-header>
    Add Course
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="col-lg-12">
      <div class="row full-name-inputs">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Fee_code">Course Code<span class="text-danger">*</span></label><br />
            <input type="text" style="height: 50px;" placeholder="Enter Course Code" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="Fee_code">Course Name<span class="text-danger">*</span></label><br />
            <input type="text" style="height: 50px;" placeholder="Enter Course Name" class="form-control" />
          </div>
        </div>
      </div>
      <br />
      <div class="row full-name-inputs">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="Fee_code">SKS<span class="text-danger">*</span></label><br />
            <input type="text" style="height: 50px;" placeholder="Enter Total SKS" class="form-control" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="Fee_code">Course Type<span class="text-danger">*</span></label><br />
            <select class="form-control" style="height: 48px;">
              <option display:none>Select Course Type</option>
              <option>Optional</option>
              <option>Compulsory</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row full-name-inputs">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="Fee_code">Course Type<span class="text-danger">*</span></label><br />
            <select class="form-control" style="height: 48px;">
              <option display:none>Select Course Group</option>
              <option>Married</option>
              <option>Single</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="Fee_code">Course Type<span class="text-danger">*</span></label><br />
            <select class="form-control" style="height: 48px;">
              <option display:none>Select Prerequisite Course</option>
              <option>Married</option>
              <option>Single</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <nb-card-footer>

      <div>
        <button (click)="closeModal()" style="right: 0px;" class="btn btn-danger btn-rectangle btn-demo float-right">CLOSE</button>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" class="btn btn-success float-right" style="right: 0px;">ADD DETAILS</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card-body>
</nb-card>