<div class="col-md-12">
  <nb-card>
    <nb-tabset>
      <nb-tab tabTitle="Apply Employee Leave Request">
        <br/>
          <nb-card-header>
          <button class="btn btn-success float-right">Delete</button>
          <button class="btn btn-success float-right">Apply Leave</button>         
          </nb-card-header>          
          <nb-card-body>
            <ng2-smart-table [settings]="settingsEmpdata" [source]="source1.data" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
          </nb-card-body>    
        </nb-tab>
        <nb-tab tabTitle="Approve Employee Leave Request">
          <nb-card-body>
            <ng2-smart-table [settings]="settingsEmpdata" [source]="source2.data" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
          </nb-card-body>    
        </nb-tab>
        <nb-tab tabTitle="Apply Student Leave Request">
            <br/>
            <nb-card-header>
            <button class="btn btn-success float-right">Delete</button>
            <button class="btn btn-success float-right">Apply Leave</button>          
            </nb-card-header>
           
          <nb-card-body>
            <ng2-smart-table [settings]="settingsstuddata" [source]="source3.data" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
          </nb-card-body>    
        </nb-tab>
      <nb-tab tabTitle="Approve Student Leave Request">
          <nb-card-body>
              <ng2-smart-table [settings]="settingsstuddata" [source]="source4.data" (deleteConfirm)="onDeleteConfirm($event)">
              </ng2-smart-table>
            </nb-card-body>
      </nb-tab>                
    </nb-tabset>
  </nb-card>
</div>