<nb-card >
<nb-card-body style="width:200px;left: 60px;">
    <div class="form-group"> 
        <select class="form-control"> 
          <option style="display:none">Degree name</option> 
          <option [value]="degreetype.DegreeTypeId" *ngFor="let degreetype of degreeTypeList">{{degreetype.DegreeTypeName}}</option>  
        </select> 
      </div>
  </nb-card-body> 
</nb-card>

<nb-card>     
  <nb-card-header>      
    Course    
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source.data" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

