<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Counselling
      </nb-card-header>
      <nb-card-body>
        <div class="row show-grid">
          <div style="width:200px;left: 60px;">
            <select class="form-control">
              <option>Please select the batch</option>
              <option [value]="batch.id" *ngFor="let batch of batchList">{{batch.BatchName}}</option>
            </select>
          </div>
          <div style="width:200px;right: 60px;">
            <select class="form-control">
              <option>Please select the course</option>
              <option [value]="course.id" *ngFor="let course of courseList">{{course.CourseName}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" (click)="showLargeModal()">Large modal</button>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    Counselling Form
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>